w-page(
    isTabbar="true"
    class="w-page"
    show="{{$show}}"
)
  view.page-main(
  slot="main"
  )
    view.header
        text 我的订单
    view.content
      view.item(
          data-path!="order-detail/order-detail?id={{item.orderNo}}"
          bindtap="$go"
      )
        view(
          wx:for="{{list}}",
          wx:key="{{index}}"
        )
          view.order-title
              view.order-number
                  text 订单号: {{item.orderNo}}
              view.order-status
                  text(
                      wx:for="{{statusList}}"
                      wx:for-item="subItem"
                      wx:key="{{index}}"
                      wx:if="{{subItem.status == item.status}}"
                  ) {{subItem.title}}
          view.order-content
              view.order-product(
                  wx:for="{{item.listOrderProduct}}"
                  wx:for-item="product"
                  wx:key="{{index}}"
              )
                  view.box
                      image(
                          catchtap="$routeLink"
                          data-path!="detail/detail?id={{product.productId}}"
                          mode="widthFix"
                          src="http://placeholder.qiniudn.com/375x400/f0f0f0/999"
                      )
                  view.box
                      view.desc
                          text {{item.createAt}}
                          text {{product.productResult.name}}
                          text {{product.productResult.subTitle}}
                      view.price
                          money(
                              value="{{product.price}}"
                          )
              view.order-pay
                  view.box
                      text 总计:
                      money(
                          value="{{item.totalAmount}}"
                      )
                  view.box
                      button(
                          wx:if="{{item.status == 0}}"
                          data-order-no="{{item.orderNo}}"
                          data-image="{{product.image}}"
                          catchtap="payEventer"
                      )
                          text 立即支付
    w-loading(
        show="{{$loading.show}}"
        text="{{$loading.text}}"
    )
