w-page(
  isTabbar="{{true}}"
  class="w-page"
  show="{{$show}}"
)
  view(
    slot="main"
    class="page-main"
  )
    swiper(
      class="swiper"
      current="{{swiper_current}}",
      vertical="{{true}}"
      bindchange="swiperChangeEventer"
      bindanimationfinish="swiperAnimationEventer"
    )
      //- 第一屏两个solution
      swiper-item(
          class="swiper-item"
      )
        view.content-first
            image(
                class="{{ $isIpx ? 'banner-ipx' : 'banner' }}"
                src="../../assets/images/banner.jpg"
                mode="widthFix"
            )
            view.arrow-down.show(
                class="{{ $isIpx ? 'ipx' : '' }}"
            )
              view 下滑探索
              view.icon.icon-arrow.icon-arrow-down
      //- 第二屏 产品列表
      swiper-item(
          class="swiper-item"
      )
        view.content-second
          image(
                src="../../assets/images/banner.jpg"
                mode="widthFix"
          )

w-loading(
  show="{{$show}}"
)
w-sheet(
  visible="{{ visible }}"
  actions="{{ actions }}"
  show-cancel
  bind:cancel="handleCancel"
  bind:click="handleClickItem" 
)