view.picker
    view.content
        picker(
            class="selector"
            wx:if="{{mode == 'selector'}}"
            mode="{{mode}}"
            disabled="{{disabled}}"
            bindchange="bindchange"
            bindcancel="bindcancel"
            value="{{value}}"
            range="{{range}}"
            range-key="{{key}}"
        )
            view.section
                view.box
                    input(
                        disabled="{{true}}"
                        placeholder="{{placeholder}}"
                        placeholder-class="placeholder"
                        value="{{range[value][key]}}"
                    )
        picker(
            class="region"
            wx:if="{{mode == 'region'}}"
            mode="{{mode}}"
            disabled="{{disabled}}"
            bindchange="bindchange"
            bindcancel="bindcancel"
            value="{{value}}"
        )
            view.section
                view.box
                    input(
                        disabled="{{true}}"
                        placeholder="省"
                        placeholder-class="placeholder"
                        value="{{value[0]}}"
                    )
                view.box
                    input(
                        disabled="{{true}}"
                        placeholder="市"
                        placeholder-class="placeholder"
                        value="{{value[1]}}"
                    )
                view.box
                    input(
                        disabled="{{true}}"
                        placeholder="区"
                        placeholder-class="placeholder"
                        value="{{value[2]}}"
                    )