view(
    class="tabs"
    wx:if="{{show}}"
)
    view.tab-item(
        wx:for="{{list}}"
        wx:key="index"
        data-path="{{item.pagePath}}"
        data-url="{{item.pagePath}}"
        bindtap="switchTab"
    )
        view.tab-box(
            class="{{item.active ? 'active' : ''}}"
        )
            view.icon(
                wx:if="{{showIcon}}"
            )
                view(
                    hidden="{{item.active}}"
                    class="icon icon-{{item.icon}}"
                )
                view(
                    hidden="{{!item.active}}"
                    class="icon icon-{{item.selectedIcon}}"
                )
            view.text(
                wx:if="{{showText}}"
            )
                view {{item.text}}
w-sheet(
  visible="{{ visible }}"
  actions="{{ actions }}"
  show-cancel
  bind:cancel="handleCancel"
  bind:click="handleClickItem" 
  bind:contact="sendContact"
)