view.input-inner
	input(
	    type="{{type}}"
	    disabled="{{disabled}}"
	    focus="{{focus}}"
	    value="{{value}}"
	    placeholder="{{placeholder}}"
	    maxlength="{{maxlength}}"
	    placeholder-class="placeholder"
	    bindinput="chageEventer"
	    bindfocus="focusEventer"
	    bindblur="blurEventer"
	)
