view(
    class="loading {{animatecls}} {{styleType}}"
    style="z-index: {{zIndex}}"
    hidden="{{ !visible }}"
)
    view.loading-inner
        view(
            class="loading-icon {{color}}"
        )
            view(
                class="circle"
                wx:if="{{type === 'circle'}}"
            )
            view(
                class="spinner"
                wx:if="{{type === 'spinner'}}"
            )
                view
                view
                view
                view
                view
                view
                view
                view
                view
                view
                view
                view
        view(
            class="loading-text"
        )
            text(
                wx:if="{{message}}"
            ) {{message}}